<div ng-controller="sts.views.task.new as vm">
    <form id="NewTaskForm" role="form" name="newTaskForm" novalidate>
        <div class="form-group">
            <label for="TaskDescription">@L("TaskDescription")</label>
            <textarea id="TaskDescription" ng-model="vm.task.description" class="form-control" rows="3" placeholder="@L("EnterDescriptionHere")" required></textarea>
        </div>
        <div class="form-group">
            <label for="TaskAssignedPerson">@L("AssignTo")</label>
            <select id="TaskAssignedPerson" class="form-control" ng-model="vm.task.assignedPersonId" ng-options="person.id as person.name for person in vm.people">
                <option value="">@L("SelectPerson")</option>
            </select>
        </div>
        <button ng-click="vm.saveTask()" ng-disabled="newTaskForm.$invalid" type="submit" class="btn btn-primary">@L("CreateTheTask")</button>
    </form>
</div>